# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore .idea project folders from IntelliJ IDEA
.idea 

# Ignore project folders from VSCode
.vscode

# Ignore bin 
bin